<div class="box">
  <header class="header">
    <h1>My eccomerce</h1>
  </header>
  <slot />
</div>

<style>
  .box {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 90%;
    background-color: blue;
  }

  .header {
    background-color: white;
    text-align: center;
  }
</style>
