<section class="sidebar">
  <aside>
    <h2>Navigation</h2>
    <nav>
      <ul class="nav">
        <li>
          <p>Home</p>
        </li>
        <li>
          <p>About</p>
        </li>
        <li>
          <p>Blog</p>
        </li>
        <li>
          <p>Contact</p>
        </li>
      </ul>
    </nav>
  </aside>
</section>

<style>
  .sidebar {
    display: flex;
    flex-direction: column;
    padding: 1vh 3vw;
    width: 10%;
    height: 100%;
    background-color: #e7e7e7;
  }
  .nav {
    list-style: none;
    list-style-type: none;
    padding: 0;
  }
</style>
